{{ define "main" }}

<div class="horizontal container">
  {{ partial "nav.html" }}
  <main class="post-list">
    {{ $posts := after 5 (where .Site.RegularPages "Type" "posts") }}
    {{ if gt (len $posts) 0 }}
    {{ range $posts }}
    <section class="post-preview">

      <span class="badges">
        {{ range .Param "categories" }}
        <span class="badge post-label">
          {{ . }}
        </span>
        {{ end }}
      </span>

      <a href="{{.Permalink}}">
        <h2>
          {{.Title}}
        </h2>
      </a>
      <p class="meta">
      {{.Date.Format "January 2, 2006" }} &mdash; {{.ReadingTime}} minute read
      </p>
    </section>
    {{ end }}
    {{ else }}
    <section>
      There are no archived posts yet!
    </section>
    {{ end }}
  </main>
</div>
{{ end }}
