{{ define "main" }}

<div class="vertical post container">
  <article class="with-cover-image">
    <header class="horizontal banner" role="banner">
      {{ $coverPath := .Params.cover }}
      {{ $cover := .Resources.GetMatch (string $coverPath) }}
      {{ if $cover }}
        {{ $coverResized := $cover.Resize "2160x" }}
        <img src="{{ $coverResized.Permalink }}" alt="{{ .Params.cover_alt }}" class="cover">
      {{ end }}
      <h1>{{ .Title }}</h1>
      <p class="meta">
        {{.Date.Format "January 2, 2006" }} &mdash; {{.ReadingTime}} minute read
      </p>
    </header>

    <div>
      {{ .Content }}
    </div>
  </article>

  <button class="share" aria-controls="share-grid" aria-expanded="false">
    <svg 
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
      tabindex="-1"
      viewBox="0 0 24 24">
      <path d="M21 13v10h-21v-19h12v2h-10v15h17v-8h2zm3-12h-10.988l4.035 4-6.977 7.07 2.828 2.828 6.977-7.07 4.125 4.172v-11z"/>
    </svg>
    share
  </button>

  {{ partial "share.html" . }}

  <div class="return-link" role="navigation">
    <a href="{{ "/" | relURL }}">← Return to home</a>
  </div>
</div>

{{ $js := resources.Get "js/share.js" | minify | fingerprint -}}
<script src="{{ $js.Permalink }}"></script>
{{ end }}
