{{ define "main" }}
<div class="vertical post container">
  <article>
    <header class="horizontal banner with-cover-image" role="banner">
      {{ $coverPath := .Params.cover }}
      {{ $cover := .Resources.GetMatch (string $coverPath) }}
      {{ if $cover }}
        {{ $coverResized := $cover.Resize "2160x" }}
        <img src="{{ $coverResized.Permalink }}" alt="{{ .Params.cover_alt }}" class="cover">
      {{ end }}
      <h1>{{ .Title }}</h1>
      <p class="meta">
        {{.Date.Format "January 2, 2006" }} &mdash; {{.ReadingTime}} minute read
        &mdash; Written by Ivan Oštrić
      </p>
    </header>

    <div>
      {{ .Content }}
    </div>
  </article>

  {{ partial "share.html" . }}

  <div class="recommended">
    <h3>Read more! It's good for you</h3>
    <div class="horizontal container">
      {{ with .PrevInSection }}
      <div class="card">
        <span class="meta">Previous post</span>
        <a href="{{ .Permalink }}">
          <h4>{{ .Title }}</h4>
        </a>
        <p class="summary">
          {{ .Summary }}
        </p>
      </div>
      {{ end }}
      {{ with .NextInSection }}
      <div class="card">
        <span class="meta">Next post</span>
        <a href="{{ .Permalink }}">
          <h4>{{ .Title }}</h4>
        </a>
        <p class="summary">
          {{ .Summary }}
        </p>
      </div>
      {{ end }}
    </div>
  </div>
</div>

{{ $js := resources.Get "js/share.js" | minify | fingerprint -}}
<script src="{{ $js.Permalink }}"></script>
{{ end }}
