{{ define "main" }}

<div class="vertical post container">
  <article>
    <header class="horizontal banner with-cover-image" role="banner">
      {{ $coverPath := .Params.cover }}
      {{ $cover := .Resources.GetMatch (string $coverPath) }}
      {{ if $cover }}
        {{ $coverResized := $cover.Resize "2160x" }}
        <img src="{{ $coverResized.Permalink }}" alt="{{ .Params.cover_alt }}" class="cover">
      {{ end }}
      <h1>{{ .Title }}</h1>
      <p class="meta">
        {{.Date.Format "January 2, 2006" }} &mdash; {{.ReadingTime}} minute read
        &mdash; Written by Ivan Oštrić
      </p>
    </header>

    <div>
      {{ .Content }}
    </div>
  </article>

  {{ partial "share.html" . }}

  <div class="return-link" role="navigation">
    <a href="{{ "/" | relURL }}">← Return to home</a>
  </div>
</div>

{{ $js := resources.Get "js/share.js" | minify | fingerprint -}}
<script src="{{ $js.Permalink }}"></script>
{{ end }}
