$dark-color-title: #FAFAFA;
$dark-color-content: #F7FBFC;
$dark-color-background: #364156;

body {
  color: $dark-color-content;
  background-color: $dark-color-background;
}

h1, h2, h3, h4, h5, h6 {
  color: $dark-color-title;
}
