$dark-color-title: #F7FBFC;
$dark-color-content: #D5D5D5;
$dark-color-background: #1E1E1E;
$dark-color-muted: #888888;
$dark-color-extra-muted: #272727;


$color-label-background: #2E2A0E;
$color-label-content: #FDEF8D;

body {
  background-color: $dark-color-background;
  color: $dark-color-content;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  color: $dark-color-title;
}

.badge {
  border-bottom-color: $color-label-content;
  color: $color-label-content;
  background-color: $color-label-background;
}

.meta {
  color: $dark-color-muted;
}

a {
  color: $dark-color-title;
}

a:hover > * {
  color: $dark-color-content;
}

footer {
  color: $dark-color-muted;
}

button {
  background-color: $dark-color-background;
  color: $dark-color-title;
  border: 1px solid $dark-color-title;
  svg {
    fill: $dark-color-title;
  }
}

a.icon {
  svg {
    fill: $dark-color-title;
  }
  svg:hover {
    fill: $dark-color-content;
  }
}

.post > article {
  aside {
    &.callout {
      background-color: $dark-color-extra-muted;
    }
  }
}
