@charset 'utf-8';

$color-title: #1E1E1E;
$color-content: #364156;
$color-background: #F7FBFC;
$color-muted: #B5B9C1;

$color-label-background: #FDEF8D;
$color-label-content: #A29331;

$font-title:
  'Source Code Pro',
  'SFMono-Regular',
  'Consolas',
  'Liberation Mono',
  'Menlo',
  'Courier New',
  'Courier',
  monospace;

$font-content:
  system-ui,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  'Roboto',
  'Oxygen',
  'Ubuntu',
  'Cantarell',
  'Helvetica Neue',
  'Helvetica',
  'Arial',
  sans-serif;

$breakpoint-mobile: 835px;
$breakpoint-web: 836px;

@use './reset';
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700&display=swap');

body {
  background-color: $color-background;
  color: $color-content;
  font-family: $font-content;
  font-size: 14pt;
  line-height: 1.4;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-title;
  font-weight: 700;
  color: $color-title;
}

.container {
  display: flex;
  margin: 10px;

  &.horizontal {
    @media screen and (min-width: $breakpoint-web) {
      flex-direction: row;
    }

    @media screen and (max-width: $breakpoint-mobile) {
      flex-direction: column;
      align-items: center;
    }
  }

  &.vertical {
    flex-direction: column;
    align-items: center;
  }
}

header.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: $breakpoint-web) {
    padding: 2rem;
  }

  @media screen and (max-width: $breakpoint-mobile) {
    text-align: center;
  }

  &.vertical {
    @media screen and (min-width: $breakpoint-web) {
      width: 40vw;
      height: 100vh;
    }

    @media screen and (max-width: $breakpoint-mobile) {
      margin: 10px 0 10px 0;
    }
  }

  &.horizontal {
    height: 40vh;

    @media screen and (min-width: $breakpoint-web) {
      padding: 0 10px 0 10px;
      width: $breakpoint-web;
      text-align: center;
    }
  }

  h1 {
    text-transform: lowercase;
  }
}

.post-list {

  @media screen and (min-width: $breakpoint-web) {
    padding-top: 3rem;
  }

  padding-bottom: 3rem;
}

.badge {
  border-bottom: 2px solid $color-label-content;
  background-color: $color-label-background;
  color: $color-label-content;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  font-size: 0.8rem;
  text-transform: uppercase;
}

section.post-preview {
  margin-bottom: 3rem;

  * > h2 {
    margin: 0.25rem 0 0.25rem 0;
  }
}

.meta {
  color: $color-muted;
  text-transform: uppercase;
  font-size: 0.75rem;
  margin-top: -0.5rem;
}

a {
  color: $color-title;
  text-decoration-skip-ink: auto;
  -webkit-text-decoration-skip: ink;

}

a:hover > * {
  color: $color-content;
}

nav {
  ul {
    padding: 0;
    text-transform: lowercase;

    @media screen and (max-width: $breakpoint-mobile) {
      text-align: center;
    }

    li {
      @media screen and (min-width: $breakpoint-web) {
        display: block;
        margin-bottom: 0.5rem;
      }

      @media screen and (max-width: $breakpoint-mobile) {
        display: inline-block;
        margin: 0 0.5rem 0 0.5rem;
      }
    }
  }
}

footer {
  text-align: center;
  font-size: 0.75rem;
  color: $color-muted;
  margin: 10px;
}

.post {
  article {
    @media screen and (max-width: $breakpoint-mobile) {
      width: 100%;
    }

    @media screen and (min-width: $breakpoint-web) {
      width: $breakpoint-web;
    }

    margin-bottom: 2rem;
  }

  .return-link {
    margin-top: 2rem;
  }
}

button {
  padding: 0.75rem;
  border-radius: 7px;
  font-size: 1rem;
  background-color: $color-background;
  color: $color-title;
  border: 1px solid $color-title;
  display: inline-flex;
  align-items: center;

  svg {
    margin-right: 0.5em;
    width: 1em;
    height: 1em;
    fill: $color-title;
  }
}
