{{ define "main"}}
<div class="horizontal container">
  <header class="vertical banner">
    <h1>the halcyon blog</h1>
    <h2>Page not found :(</h2>
    Try using one of these links to get to where you wanted to
    be!
    <nav>
      <ul>
        <li><a href="{{ "/" | relURL }}">Home</a></li>
        {{ if gt (len (where .Site.RegularPages "Type" "posts")) 5 }}
        <li><a href="{{ "/posts" | relURL }}">archive</a></li>
        {{ end }}
        <li><a href="{{ "/about" | relURL }}">about</a></li>
      </ul>
    </nav>
  </header>
</div>
{{ end }}
