{{ define "main" }}
<div class="horizontal container">
  {{ partial "nav.html" . }}
  <main class="post-list">
    {{ $posts := (where .Site.RegularPages "Type" "posts") }}
    {{ range first 5 ($posts) }}
    <section class="post-preview">
      <span class="badges">
        {{ range .Param "categories" }}
        <span class="badge post-label">
          {{ . }}
        </span>
        {{ end }}
      </span>
      <a href="{{.Permalink}}">
        <h2>
          {{.Title}}
        </h2>
      </a>
      <p>{{.Summary}}</p>
      <p class="meta">
      {{.Date.Format "January 2, 2006" }} &mdash; {{.ReadingTime}} minute read
      </p>
    </section>
    {{ end }}
    {{ if gt (len $posts) 5 }}
    <section>
      Looking for something that's not as recent? Chances are you will find it
      in the <a href="/posts">archives</a>.
    </section>
    {{ end }}
  </main>
</div>
{{ end }}
