@import '../config';

.card {
  background-color: var(--color-background);
  border: 1px solid var(--color-extra-muted);
  border-radius: 5px;
  border-left: $spacing-tiny-1 solid var(--color-accent);
  padding: $spacing-small-1;
  margin: $spacing-small-1;
  margin-left: 0;
  box-shadow: 0 3px 6px hsla(0, 0, 0%, .15);
  box-shadow: 0 2px 4px hsla(0, 0, 0%, .12);
}
