@import '../config';

code {
  font-family: var(--font-title);
  background-color: var(--color-extra-muted);
  padding: $spacing-tiny-1;
}

pre {
  margin-bottom: $spacing-small-1;
}

.chroma {
  font-family: var(--font-title);
  overflow-y: scroll;
  padding: $spacing-small-1;

  code {
    background-color: inherit;
    padding: 0;
  }
}
