@import '../config';

footer {
  text-align: center;
  font-size: $font-baseline;
  color: var(--color-light);
  padding: $spacing-medium-3;
  background-color: var(--color-extra-muted);
  margin-top: $spacing-small-1;
}
