/* Various header sizes */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
  font-weight: 700;
  color: var(--color-title);
  
  // Smaller screens don't like large titles so this ensures they show up
  // properly regardless of screen size.
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  word-break: break-word;
}

h1 {
  font-size: $font-h1;
  margin-bottom: $spacing-small-1;

  @include mobile {
    // h1 is too large on smaller phone sizes, it takes up half of the screen
    // for no good reason
    font-size: $font-h2;
  }
}

h2 {
  font-size: $font-h2;
  margin-bottom: $spacing-tiny-3;
  @include mobile {
    font-size: $font-h3;
  }
}

h3 {
  font-size: $font-h3;
}
