@import '../config';

/* A navigation component is a flexible horizontal/vertical component which
 * renders a navigation menu (duh) with a logo, logo text and links or
 * additional text.
 */
nav {
  &.vertical {
    ul {
      padding: 0;
      text-transform: lowercase;
      list-style-type: none;

      @include at-most(mobile) {
        text-align: center;
      }

      li {
        @include at-least(tablet) {
          display: block;
          margin-bottom: $spacing-tiny-2;
        }

        @include at-most(mobile) {
          display: inline-block;
          margin: 0 $spacing-tiny-2 0 $spacing-tiny-2;
        }

        margin-left: 0;
      }
    }

    .logo {
      width: 96px;
      height: auto;

      // This would be fun!
      // @include at-least(tablet) {
      //   @media screen and (prefers-color-scheme: light) {
      //     z-index: 10;
      //     margin-bottom: -74.5px;
      //     margin-left: 103px;
      //   }
      // }

      @include at-most(mobile) {
        margin-left: auto;
        margin-right: auto;
      }
    }
  }

  &.horizontal {
    background-color: var(--color-background);

    position: absolute;
    top: 0;
    left: 0;
    height: $spacing-medium-1;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;

    .container {
      padding: 0 0 0 $spacing-small-3;

      @include at-least(large-desktop) {
        min-width: $spacing-absolute-unit-2;
      }

      @include at-most(desktop) {
        min-width: 100%;
        flex-flow: row nowrap;
      }
    }

    img.logo {
      height: $spacing-small-3;
      padding-right: $spacing-small-1;
      @include at-most(mobile) {
        padding-top: $spacing-tiny-2;
      }
    }
    span.logo {
      font-family: var(--font-title);
    }

    a {
      text-decoration: none;
    }
  }
}
