@import  '../config';

/* A post list is a specialized component that holds post previews.
 * Its main purpose is to display a Post Preview component.
 */
.post-list {
  @include web {
    padding-top: 3rem;
  }

  @include mobile {
    min-width: 100%;
  }

  padding-bottom: 3rem;
}
