@import '../config';

/* A post component contains the actual post text in an Article tag, alongside
 * additional controls such as sharing or in-post navigation.
 */
.post.container {
  article {
    @include at-most(desktop) {
      max-width: 100%;
    }

    @include at-least(large-desktop) {
      max-width: 800px;
    }

    margin-bottom: $spacing-small-3;
  }

  .return-link {
    margin-top: $spacing-small-3;
  }
}